$primary: #e2abff;
$secondary: #a2c4fc;
$dark: #7f06bf;

@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/bootstrap';

a {
  color: $primary;
  &:hover {
    color: darken($primary, 30%);
  }
}
