$primary: #e2abff;
$secondary: #a2c4fc;
$dark: #7f06bf;
$danger: #fa6690;
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/bootstrap';

a {
  color: $primary;
  &:hover {
    color: darken($primary, 30%);
  }
}

.errorMessage {
  color: var(--danger);
  font-weight: bold;
  text-align: center;
}

.successMessage {
  color: var(--dark);
  font-weight: bold;
  text-align: center;
}

.myBorder {
  border: 3px solid rgba($primary, 0.5);
  border-radius: 12px;
  padding: 1rem;
}

.myBorderDark {
  border: 3px solid $dark;
  border-radius: 12px;
  padding: 1rem;
}
